* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* ======================= */
.single-playlist-block {
   border-radius: 4px;
   background: #1c1c1c;
   padding: 24px 36px;
   width: 570px;
   margin-left: 12px;
}
.all-playlists-block {
   display: flex;
   max-width: 1280px;
   background: #121212;
   padding: 0px 64px 36px 52px;
}
.title-playlist {
   color: #fff;
   font-family: SF UI Display;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 10px;
}
.playlist-header-block {
   display: flex;
   margin-bottom: 29px;
}
.playlist-header-titles-block {
   margin-left: 24px;
}
.track-element {
   display: flex;
   margin-bottom: 24px;
}
.track-title-and-player-block {
   margin-left: 12px;
}
.artist-name,
.track-name {
   color: #fff;
   font-family: SF UI Display;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.track-name {
   color: #8a8a8a;
   font-weight: 400;
}
.fire {
   margin-right: 6px;
}
.playlist-word {
   margin-top: 7px;
   margin-bottom: 23px;
   color: #fff;
   font-family: SF UI Display;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 171.429% */
}
.info-about-tracks {
   color: #8a8a8a;
   font-family: SF UI Display;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
   margin-bottom: 11px;
}
.artists-names-part-left,
.artists-names-part-right {
   color: #fff;
   font-family: SF UI Display;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
}
.artists-names-part-right {
   color: #8a8a8a;
}
audio {
   height: 24px;
   width: 347px;
   margin-top: 10px;
   filter: invert(1);
}
h1 {
   display: flex;
   color: #fff;
   height: 96px;
   width: 1280px;
   font-family: SF UI Display;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   background: #121212;
   padding: 30px 64px;
}
.playlists-header {
   padding:  12px 64px ;
   background: #1C1C1C;
   width: 1280px;
   height: 48px;
}
.playlist-header-logo-title {
   color: #F6BD41;
   font-family: SF UI Display;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: none;
   margin-left: 8px;
}


